var first_setup = rs.conf() == null;
if(first_setup){
  rs.initiate();
}
if(db.isMaster().ismaster) {
{{#endpoints}}
  {{#ports}}
  rs.add("{{server.internal_address}}:{{.}}");
  {{/ports}}
{{/endpoints}}
}
if(first_setup) {
  use admin;  
  db.addUser({ user: "{{username}}", pwd: "{{password}}", roles: [ "userAdminAnyDatabase" ] });
}