use admin;
if(rs.conf() == null){
  rs.initiate();
  db.addUser({ user: "{{username}}", pwd: "{{password}}", roles: [ "userAdminAnyDatabase" ] });
}
{{#endpoints}}
  {{#ports}}
rs.add("{{server.internal_address}}:{{.}}");
  {{/ports}}
{{/endpoints}}